<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chats</title>
    <link rel="stylesheet" href="/newchat.css">
</head>
<body>
    <div class="form-container">
        <h3>Create New Chats</h3>
        <form method="post" action="/chats">
            <input placeholder="Sender name" name="from">
            <textarea placeholder="Write your msg" name="msg" class="message"></textarea>
            <input placeholder="Receiver name" name="to">
            <button>Submit</button>
        </form>
    </div>
</body>
</html>
